In [1]:
import pandas as pd
import numpy as np
from sklearn import tree 
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

# Reading the Data

In [2]:
data = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx')
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [3]:
data.isnull().any()

ID                    False
Age                   False
Experience            False
Income                False
ZIP Code              False
Family                False
CCAvg                 False
Education             False
Mortgage              False
Personal Loan         False
Securities Account    False
CD Account            False
Online                False
CreditCard            False
dtype: bool

# Identifying the most important independent variables using Random Forest Algorithm

In [4]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [5]:
rf_model = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)

In [6]:
features = ['Age','Experience', 'Income','Family', 'CCAvg','Education','Mortgage']

In [7]:
rf_model.fit(X = data[features], y = data['Personal Loan'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [8]:
print("OOB Accuraccy : ")
print(rf_model.oob_score_);

OOB Accuraccy :
0.9892

In [9]:
 for feature,imp in zip(features, rf_model.feature_importances_):
        print(feature,"=",imp);

Age = 0.039133369842017894
Experience = 0.037707304523306284
Income = 0.3718530667248174
Family = 0.12421588843789992
CCAvg = 0.17902852042267975
Education = 0.20851446744160182
Mortgage = 0.03954738260767698

According to the above data , the most important independant variables of the dataset are __Income , CCAverage and Education__

# Building the Decision Tree Model

In [10]:
tree_model = tree.DecisionTreeClassifier()

In [11]:
predictors = pd.DataFrame([data['Income'], data['CCAvg'], data['Education']]).T

In [12]:
predictors.head()

   Income  CCAvg  Education
0    49.0    1.6        1.0
1    34.0    1.5        1.0
2    11.0    1.0        1.0
3   100.0    2.7        2.0
4    45.0    1.0        2.0

In [13]:
tree_model.fit(X = predictors, y = data['Personal Loan'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
with open("DTreeBankLoan.dot","w") as f:
    f = tree.export_graphviz(tree_model, feature_names=['Income','CCAverage','Education'],out_file=f)

In [15]:
tree_model.score(X = predictors, y = data['Personal Loan'])

0.9972

The model is __99.72 %__ accurate